.HeroCarousel_HearoCarousel__gradient__oBG4Y{width:100%;background-size:cover;background-repeat:no-repeat;background-color:#fff;background-position:bottom;height:41.3125rem;border-radius:1rem;position:relative}
.HeroCarousel_img__Azll8{position:absolute;height:100%;width:100%;top:0;left:0;-o-object-fit:cover;object-fit:cover;-o-object-position:bottom center;object-position:bottom center;z-index:0}
.fontag {
    line-height: 3.2166666667rem;
    margin-bottom: 1rem;
    max-width: 100%;
    color:#1a325d;
    font-family: baskervville;
    font-size: 3rem;
    font-weight: 400;
}
.HeroCarousel_HearoCarousel__content__0LDqL{width:auto;;position:absolute;z-index:2;left:0;top:0}
.HeroCarousel_HearoCarousel__title__8ORLq{color:var(--P-Blue,#1a325d);font-family:var(--font-baskervville);font-size:2rem;font-weight:400;line-height:2.1875rem;letter-spacing:-3%;margin-bottom:1.375rem;max-width:100%}
.HeroCarousel_HearoCarousel__subtitle__JbBnv{color:var(--P-Blue,#1a325d);font-family:var(--font-raleway);font-variant-numeric:lining-nums proportional-nums;font-size:1.5rem;font-weight:700;line-height:1.90625rem;letter-spacing:5%;margin-bottom:1.5rem}
@media(min-width:1024px){.BlogList_root__PrBBE{padding-left:8vw}}
@media(min-width:1200px){.HeroCarousel_img__Azll8{-o-object-position:center center;object-position:center center}
.HeroCarousel_HearoCarousel__gradient__oBG4Y{border-radius:1.3333333333rem;height:29.125rem;background-position:50% 50%}
.HeroCarousel_HearoCarousel__gradient__oBG4Y:before{content:"";position:absolute;height:100%;width:100%;top:0;left:0;/*(background-image:linear-gradient(90deg,#fff 14.17%,hsla(0,0%,100%,0) 60%);*/z-index:1}
.HeroCarousel_HearoCarousel__content__0LDqL{width:auto;height:35.125rem;flex-shrink:0}.HeroCarousel_HearoCarousel__title__8ORLq{font-size:3rem;line-height:3.4166666667rem;margin-bottom:1rem;max-width:100%}
.HeroCarousel_HearoCarousel__subtitle__JbBnv{font-size:1.75rem;line-height:2.9583333333rem;letter-spacing:5%;margin-bottom:1.6666666667rem}}.style_root__TcTDF{border-radius:1rem;box-shadow:-.25rem .25rem .625rem 0 hsla(0,0%,78%,.25)
}
@media(min-width:1200px){.style_root__TcTDF{border-radius:1.3333333333rem;box-shadow:-.1666666667rem .1666666667rem 2.25rem 0 rgba(0,0,0,.15)}}.BlogList_swiper__NkfYU{padding-bottom:3rem}
@media(min-width:1200px){.BlogList_root__PrBBE{overflow-x:auto;cursor:ew-resize;display:flex;gap:1.6666666667rem;-ms-overflow-style:none;scrollbar-width:none}.BlogList_root__PrBBE::-webkit-scrollbar{display:none}
.VideoSection_root__HKXJs{height:31.4583333333rem}.VideoSection_root__HKXJs,.VideoSection_root__HKXJs img{border-radius:.8333333333rem}
}
@media(min-width:1450px){.HeroCarousel_HearoCarousel__gradient__oBG4Y{border-radius:1.3333333333rem;height:33.525rem;background-position:50% 50%}}
@media(min-width:1900px){.BlogList_root__PrBBE{padding-left:calc(50vw - 960px + 7rem);padding-right:calc(50vw - 960px + 7rem)}
.HeroCarousel_HearoCarousel__gradient__oBG4Y{border-radius:1.3333333333rem;height:29.125rem;background-position:50% 50%}
}
@media(max-width:920px){.HeroCarousel_HearoCarousel__gradient__oBG4Y{border-radius:1.3333333333rem;height:18.125rem;background-position:50% 50%}
.fontag {
    line-height: 1.2166666667rem;
    margin-bottom: 1rem;
    max-width: 100%;
    color:#1a325d;
    font-family: baskervville;
    font-size: 3rem;
    font-weight: 400;
}}
@media(max-width:570px){.HeroCarousel_HearoCarousel__gradient__oBG4Y{border-radius:1.3333333333rem;height:9.125rem;background-position:50% 50%}
.fontag {
    line-height: 1.2166666667rem;
    margin-bottom: 1rem;
    max-width: 100%;
    color:#1a325d;
    font-family: baskervville;
    font-size: 3rem;
    font-weight: 400;
}}
@media(max-width:400px){.HeroCarousel_HearoCarousel__gradient__oBG4Y{border-radius:1.3333333333rem;height:8.125rem;background-position:50% 50%}
.fontag {
    line-height: 1.2166666667rem;
    margin-bottom: 1rem;
    max-width: 100%;
    color:#1a325d;
    font-family: baskervville;
    font-size: 3rem;
    font-weight: 400;
}}
.VideoSection_root__HKXJs{height:12.4375rem;width:100%;position:relative}.VideoSection_root__HKXJs img{border:1.5px solid var(--P-Blue,#1a325d);border-radius:1rem;width:100%;height:100%}




